@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
@Html.AntiForgeryToken()
<div class="w-50">
    <form method="post" id="formData" asp-route-returnurl="@Model?.ReturnUrl">
        <!-- Username input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="UserName">Username</label>
            <input type="text" asp-for="UserName" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" />
        </div>

        <!-- 2 column grid layout for inline styling -->
        @* <div class="row mb-4">
        <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
        </div>
        </div> *@

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" id="btnSubmit">Login</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a asp-action="Register">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function (e) {
                debugger;
                var valData = $("#formData").serialize();
                $.ajax({
                    url: "/Accounts/Login",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    type: "POST",
                    contentType: "application /x-www-form-urlencoded;charset=utf-8",
                    dataType: "JSON",
                    data: valData,
                    success: function (data) {
                        console.log(data)
                        window.location = "/Students/Index";
                    },
                    error: function (error) {
                        alert(error.fail)
                    }
                });
            });
        });
    </script>
}
