@model RegisterViewModel;
@{
    ViewData["Title"] = "Sign up";
}
@Html.AntiForgeryToken()
<div class="w-50">
    <form method="post" id="formData">
        <!-- Username input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="UserName">Username</label>
            <input type="text" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-forfor="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <!-- 2 column grid layout for inline styling -->
        @* <div class="row mb-4">
        <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
        </div>
        </div> *@

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" id="btnSubmit">Register</button>

        <!-- Register buttons -->
        <div class="text-center">
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function (e) {
                debugger;
                var valData = $("#formData").serialize();
                $.ajax({
                    url: "/Accounts/Register",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    type: "POST",
                    contentType: "application /x-www-form-urlencoded;charset=utf-8",
                    dataType: "JSON",
                    data: valData,
                    success: function (data) {
                        window.location = "/Students/Index";
                    },
                    error: function (error) {
                        alert(error.fail)
                    }
                });
            });
        });
    </script>
}
