@model Management.Models.Class

@{
    ViewData["Title"] = "Edit";
}
@Html.AntiForgeryToken()
<h4>Edit Class</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" id="formEditClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="button" value="Save" class="btn btn-primary" id="btnSubmit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#btnSubmit").click(function (e) {
            debugger;
            var valData = $("#formEditClass").serialize();
            $.ajax({
                url: "/Classes/Edit/" + $('#Id').val(),
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                type: "POST",
                contentType: "application /x-www-form-urlencoded;charset=utf-8",
                dataType: "JSON",
                data: valData,
                success: function (data) {
                    if (data.status == "success") {
                        alert(data.message);
                        window.location = '/Classes/Index';
                    } else {
                        alert(data.message);
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    </script>
}
